/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Inizio header */
header{
    background-color: #A084DC;
    height: 5.625rem;
}
.ms_title{
    color: aliceblue;
}
/* Fine header */

/* Inizio main */
main{
    background-color: #BFACE2;
    height: 100vh;
}
/* Inizio main */