/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
.nomeUtente, .password{
    color: #645CBB;
}

/* Inizio header */
header{
    background-color: #A084DC;
    height: 8.125rem;
}
/* Fine header */

/* Inizio main */
main{
    background-color: #BFACE2;
    height: 100vh;
}
.password{
    font-family: 'Roboto Mono', monospace;;
}
/* Inizio main */